[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
scipy = "*"
tensorflow = "*"
termcolor = "*"
matplotlib = "*"
pyyaml = "*"
opencv-python = "*"
pydot = "*"
sklearn = "*"
scikit-learn = "*"
pipenv = "*"

[requires]
python_version = "3.6"
